.age-container {
    display: flex;
    justify-content: center;
}

.box {
    margin-top: 4rem;
    width: 90%;
    background: hsl(0, 0%, 94%);
    padding: 2rem 3rem 6rem 1.5rem;
    margin-bottom: 8rem;
    border-radius: 2rem 2rem 7rem 2rem;
}

.form-grid {
    display: flex;
    justify-content: space-around;
}

h3 {
    color: hsl(0, 1%, 44%);
    font-weight: 400;
    font-size: 16px;
}

.input-number {
    width: 90%;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 10px;
    font-weight: 700;
    font-size: 24px;
    margin-top: -5px;
    outline: none;
}

.input-number:hover, .input-number:active {
    border: 2px solid hsl(259, 100%, 65%) !important;
}

.line-divider {
    position: relative;
    height: 1px;
    width: 100%;
    background-color: hsl(0, 0%, 86%);
    /* margin: 20px auto; */
    margin-top: 2rem;
}

.circle {
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: hsl(259, 100%, 65%);
    padding: 3%;
    border-radius: 50%;
}


.age-section {
    display: flex;
    /* border: 2px solid yellow; */
}

.age {
    width: 95%;
    height: 70%;
    margin-top: 3rem;
    font-size: 10vw;
    font-weight: 800;
    font-style: italic;
    /* border: 2px solid red; */
}

.purple-font {
    color: hsl(259, 100%, 65%);
}

.input-group {
    margin-top: 2px;
}

.error-message {
    font-size: 2vw;
    line-height: 1px;
    color: hsl(0, 100%, 67%);
    font-style: italic;
}

.error-label {
    color: hsl(0, 100%, 67%);
}

.help-block {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
}

input.ng-invalid.ng-touched, .date-error {
    border: 1px solid hsl(0, 100%, 67%);
}

@media screen and (min-width: 1000px) {
    .box {
        margin-top: 4.5rem;
        width: 70%;
        margin-bottom: 3rem;
        border-radius: 2rem 2rem 7rem 2rem;
    }

    h3 {
        font-size: 20px;
    }

    .form-grid {
        width: 80%;
    }

    .input-number {
        font-size: 32px;
        width: 75%;
    }

    .age {
        font-size: 7vw;
    }

    .line-divider {
        margin-top: 3rem;
    }

    .circle {
        top: -2.5rem;
        left: 95%;
    }

    .error-message {
        font-size: 1.5vw;
        line-height: 1px;
        color: hsl(0, 100%, 67%);
        font-style: italic;
    }
}